/***************************************************
	Shortcode plugin - styling for cta box
***************************************************/

.cta {
	clear: both;
	width: 25em;
	max-width: 50%;
	margin: 10px auto;
	padding: 15px 5%;
	font: arial, sans-serif;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.8rem;
	background-color: #f78a04;
}
.cta a:link,
.cta a:visited {
	text-decoration: none;
	color: #fff;
}
.cta a:hover,
.cta a:active {
	text-decoration: underline;
	color: #512e03;
}